@{
    ViewData["Title"] = "About";
}
<h2>About this service</h2>
<h3></h3>

<p>I use Pocket a lot, and what bother me is that I'm always overwhelmed with the amount of work I need to do very day. So I create a lot of pocket bookmarks and go though them on the weekends. But when I actually have time for them it is quirte ofthen that those damn articles are removed already. So I've decided to create a url shortener with the ability to resurrect such articles from internet archive.</p>
