@model string

@{
    ViewData["Title"] = "Result!";
}


<div class="row">
    <div class="col-md-12 text-center">
        <div class="alert alert-success center-block success-message" role="alert">Well done! You successfully immortalized your link!</div>
        <h2>Your link is:</h2>
    </div>
</div>
<div class="row main-content">
    <div class="col-md-12 text-center">
        <span class="label label-info url-result">@Model</span>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-primary copy-to-clipboard">Copy to clipboard</button>
    </div>   
</div>

@section Scripts {
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <link href="~/css/overhang.min.css" rel="stylesheet" />
    <script src="~/js/overhang.min.js"></script>
    <script>
        $(document).ready(function () {
            $("body").overhang({
                    custom: true, // Set custom to true
                primary: "#34495E", // Your custom primary color
                accent: "#F4B350", // Your custom accent color
                message: '@Model',
                duration: 15
                });
            });
    </script>
}
